In [1]:
import pandas as pd

#open and read all three .csv's using pandas

country = pd.read_csv("country.csv")
city = pd.read_csv("city.csv")
countrylang = pd.read_csv("countrylanguage.csv")

In [3]:
#task 1 (df): Produce a list of 5 cities with the largest populations in Afghanistan.

og_data = pd.merge(country, city, how='inner',left_on='Code',right_on='CountryCode')

In [4]:
df = og_data[['Name_x','Name_y','District','Population_y']]

In [5]:
q = 'Name_x == "Afghanistan"'
df.sort_values('Population_y',ascending = "False")
df.query(q)

        Name_x          Name_y  District  Population_y
1  Afghanistan           Kabul     Kabol       1780000
2  Afghanistan        Qandahar  Qandahar        237500
3  Afghanistan           Herat     Herat        186800
4  Afghanistan  Mazar-e-Sharif     Balkh        127800

In [6]:
#task 2 (df1): Find out which country in the Middle East region has the lowest life expectancy.

df1 = country[['Name','Region','LifeExpectancy']].sort_values('LifeExpectancy')

In [7]:
df1 = df1.query("Region == 'Middle East'")

In [8]:
df1.iloc[0:1]

      Name       Region  LifeExpectancy
234  Yemen  Middle East            59.8

In [9]:
#Task 3 (df2): What is the combined Gross National Product (GNP) of all countries in the Caribbean.
df2 = country.query("Region == 'Caribbean'")

df2 = df2[["GNP"]]

i = float(df2.sum(axis = 0))

print("The combined GNP of the Caribbean is: $"+str(i))

The combined GNP of the Caribbean is: $103586.2

In [15]:
#task4 (df3): Produce a list of every country in Western Europe where the primary language is French.
df3 = pd.merge(country, countrylang, how='inner',left_on='Code',right_on='CountryCode')
df3 = df3[['Name', 'Region','Language','IsOfficial']]
df3.query('Region == "Western Europe" & Language == "French" & IsOfficial == "T"')

            Name          Region Language IsOfficial
66       Belgium  Western Europe   French          T
151  Switzerland  Western Europe   French          T
290       France  Western Europe   French          T
515   Luxembourg  Western Europe   French          T
533       Monaco  Western Europe   French          T

In [11]:
#task 6 (df4): 

og_data.head()
df4 = og_data[["Name_x","Name_y"]]
df4 = df4.query("Name_x == 'Madagascar'")
df4[df4.Name_y.str.startswith('A')]

          Name_x        Name_y
2442  Madagascar  Antananarivo
2444  Madagascar    AntsirabÃ©